VITE_PORT=3000
PORT=3000

BETTER_AUTH_SECRET=your-production-auth-secret
BETTER_AUTH_URL=http://localhost:3000

VITE_PG_HOST=localhost
VITE_PG_PORT=5432
VITE_PG_USERNAME=your-user
VITE_PG_PASSWORD=your-paassword
VITE_PG_DATABASE=langvis

VITE_REDIS_HOST=localhost
VITE_REDIS_PORT=6379

VITE_INBOUND_SECRET=postfix-will-send-a-inbound-email-with-secret-header

# # File Service Configuration
FILE_INLINE_EXTENSIONS=.jpg,.jpeg,.png,.gif,.webp,.svg,.pdf,.txt,.json,.mp4,.mp3,.wav,.ogg,.webm,.avi,.mov
FILE_RANGE_EXTENSIONS=.mp4,.mp3,.wav,.ogg,.webm,.avi,.mov,.mkv,.flac

# Public URL for file downloads (used by model providers)
PUBLIC_URL=https://your-file-service-host
