.dropdownmenu {
  .ant-popover-inner {
    padding: 4px;

    .ant-popover-inner-content {
      display: flex;
      flex-direction: column;

      .ant-space {
        width: 100%;
        margin-block-end: 4px;

        .ant-space-item {
          width: 100%;

          .ant-btn {
            display: flex;
            justify-content: flex-start;
            width: 100%;
          }
        }
      }

      .ant-divider {
        margin: 6px 0;
      }
    }
  }
}
