.dropdownmenu {
  row-gap: 0;
  width: 100%;
  background-color: var(--ant-color-bg-container);
  border-radius: 6px;

  .ant-space-item {
    width: 100%;

    .ant-btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
  }

  .ant-divider {
    margin: 6px 0;
    font-size: 12px;
  }
}
