@use '../../styles/mixins';

.chat-page {
  height: calc(100vh - var(--header-height));

  .chat-sider {
    height: 100%;
    padding: 8px;
    padding-inline: var(--ant-padding-sm);
    overflow-y: auto;
    border-right: 1px solid var(--ant-color-border);

    .ant-conversations {
      padding-inline: 0;
    }
  }

  .chat-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-block: 16px;
    overflow: hidden auto;

    .chat-messages {
      flex: 1;
      gap: 32px;
      padding: 16px;
      overflow-y: auto;

      .system-message {
        .ant-collapse-body {
          @include mixins.default-scrollbar;
        }
      }

      .ant-bubble {
        .ant-bubble-content {
          position: relative;
          padding: 0 var(--ant-padding);

          .message-footer {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            padding-block-start: 4px;
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 0.3s ease;
          }

          &:hover {
            .message-footer {
              opacity: 1;
            }
          }
        }
      }

      .ant-bubble-start {
        margin-right: 25%;
      }

      .ant-bubble-end {
        margin-left: 25%;
      }

      @include mixins.default-scrollbar;
    }

    .scroll-to-bottom {
      position: absolute;
      right: 24px;
      bottom: 96px;
      z-index: 10;
    }

    .chat-input {
      position: absolute;
      right: 8px;
      bottom: 12px;
      left: 8px;

      .ant-sender-content {
        align-items: center;
        background-color: var(--ant-color-bg-container);
      }
    }

    .chat-input-placeholder {
      height: 72px;
    }
  }

  @media (width <= 768px) {
    .chat-drawer-trigger {
      position: absolute;
      right: 8px;
      bottom: 100px;
      z-index: 100;
      font-size: 18px;
      box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    }

    .chat-content {
      .chat-messages {
        padding: 8px;

        .ant-bubble-start {
          margin-right: 0;
        }

        .ant-bubble-end {
          margin-left: 0;
        }
      }

      .scroll-to-bottom {
        right: 16px;
        bottom: 88px;
      }

      .chat-input {
        right: 4px;
        bottom: 8px;
        left: 4px;
      }
    }
  }
}

.config-left {
  flex: 1 1 30%;
  padding-inline-end: 12px;
  border-inline-end: 1px solid var(--ant-color-split);
}

.config-right {
  flex: 1 1 70%;
  padding-inline-start: 12px;
}

@media (width <= 768px) {
  .config-left {
    flex: 1 1 100%;
    padding-block-end: 12px;
    padding-inline-end: 0;
    border-block-end: 1px solid var(--ant-color-split);
    border-inline-end: none;
  }

  .config-right {
    flex: 1 1 100%;
    padding-block-start: 12px;
    padding-inline-start: 0;
  }
}
