@use '../../styles/mixins';

.chat-page {
  height: calc(100vh - var(--header-height));

  .chat-sider {
    height: 100%;
    padding: 8px;
    padding-inline: var(--ant-padding-sm);
    overflow-y: auto;
    border-right: 1px solid var(--ant-color-border);

    .ant-conversations {
      padding-inline: 0;
    }
  }

  .chat-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-block: 16px;
    overflow: hidden auto;

    .chat-messages {
      flex: 1;
      padding: 16px;
      overflow-y: auto;

      .ant-bubble-system {
        .ant-collapse-content-box {
          @include mixins.default-scrollbar;
        }
      }

      .ant-bubble-body {
        position: relative;

        .ant-bubble-content {
          padding: 0 var(--ant-padding);
        }

        .ant-bubble-footer {
          display: none;
        }

        &:hover {
          .ant-bubble-footer {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            transform: translateY(100%);

            > .ant-flex {
              padding-block-start: 8px;
            }
          }
        }
      }

      @include mixins.default-scrollbar;
    }

    .chat-input {
      position: absolute;
      right: 8px;
      bottom: 12px;
      left: 8px;

      .ant-sender-content {
        align-items: center;
      }
    }

    .chat-input-placeholder {
      height: 72px;
    }
  }
}

