@use '../../styles/mixins';

.chat-page {
  height: calc(100vh - var(--header-height));

  .chat-sider {
    height: 100%;
    padding: 8px;
    padding-inline: var(--ant-padding-sm);
    overflow-y: auto;
    border-right: 1px solid var(--ant-color-border);

    .ant-conversations {
      padding-inline: 0;
    }
  }

  .chat-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-block: 16px;
    overflow: hidden auto;

    .chat-messages {
      flex: 1;
      padding: 16px;
      overflow-y: auto;

      .system-message {
        .ant-collapse-content-box {
          @include mixins.default-scrollbar;
        }
      }

      .ant-bubble {
        .ant-bubble-content {
          position: relative;
          padding: 0 var(--ant-padding);

          .message-footer {
            display: none;
          }

          &:hover {
            .message-footer {
              position: absolute;
              right: 0;
              bottom: 0;
              display: flex;
              padding-block-start: 4px;
              transform: translateY(100%);
            }
          }
        }
      }

      @include mixins.default-scrollbar;
    }

    .chat-input {
      position: absolute;
      right: 8px;
      bottom: 12px;
      left: 8px;

      .ant-sender-content {
        align-items: center;
      }
    }

    .chat-input-placeholder {
      height: 72px;
    }
  }
}

.config-left {
  flex: 1 1 30%;
  padding-inline-end: 12px;
  border-inline-end: 1px solid var(--ant-color-split);
}

.config-right {
  flex: 1 1 70%;
  padding-inline-start: 12px;
}
