.root-dark {
  .source-handle {
    background-color: cyan;
  }

  .target-handle {
    background-color: yellow;
  }
}

.root-light {
  .source-handle {
    background-color: #40bebe;
  }

  .target-handle {
    background-color: #baba1b;
  }
}
