.gf-meta {
  &-audio {
    margin-block: 8px;
  }

  &-icon {
    font-size: 14px;
    cursor: pointer;
  }

  &-tooltip {
    .ant-tooltip-container {
      min-width: 360px;
      padding: 8px;
      color: var(--ant-color-text-secondary);
      background: var(--ant-color-bg-container);

      .ant-typography {
        white-space: nowrap;
      }
    }

    .ant-tooltip-arrow {
      &::before {
        background: var(--ant-color-bg-container);
      }
    }
  }
}
