:root {
  --header-height: 48px;
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  flex-wrap: nowrap;
  gap: 8px;
  max-height: var(--header-height);
  padding: 8px 12px;

  .logo {
    margin: 0;
  }

  .header-divider {
    flex: 1;
    border-inline: 1px solid var(--ant-color-split);
  }

  .user-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;

    .user-name {
      margin-left: 8px;
      color: var(--ant-color-text);
    }
  }
}

.header-placeholder {
  height: var(--header-height);
}
