html,
body,
#root,
.ant-app {
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --menu-width: 200px;
  --header-height: 48px;
}

@media (width <= 768px) {
  :root {
    --menu-width: 256px;
  }
}
